.order-top-warp {
  width: 100%;
  position: relative;
  box-sizing: border-box;

  .current-shop-img {
    width: 100%;
    height: 555rpx;
    position: relative;
  }
  .current-shop-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.7);
    z-index: 3;
  }
  .current-shop-warp {
    position: absolute;
    // left:25rpx;
    top: 0rpx;
    width: 100%;
    z-index: 4;
    .head-warp {
      width: 100%;
      box-sizing: border-box;
      .get-shop-warp {
         padding-left:25rpx;
        width: 35%;
        .type-text {
          text-align: center;
          font-size: 40rpx;
          font-weight: bold;
          color: #c4c4c4;
          transition: all 0.2s ease-out;
        }
        .type-text.active {
          color: white;
          transform: scale(1.18);
          transition: all 0.2s ease-out;
        }
        .line {
          width: 1rpx;
          height: 36rpx;
          background-color: white;
        }
      }

    }
    .shop-info-warp{
        margin-top: 20rpx;
        margin-left: -10rpx;
        .shop-name{
          color: white;
          font-size: 35rpx;
        }
      }
    .notice-swiper{
      max-width: 80%;
      height: 70rpx;
      .notice-item-warp {
        .notice-img{
          width: 90rpx;
          height: 35rpx;
        }
      }
    }
    .center-banner-warp{
      height: 500rpx;
      box-sizing: border-box;
      opacity: 1;
      .banner-item{
      .item-img{
        width: 95%;
        height:90%;
      }
      }
    }
    .categories-warp{
      width: 100%;
      background-color:white ;
      .categories-left-warp{
        width: 20%;
        border-width: 0rpx;
        border-right-width: 1rpx;
        border-style: solid;
        border-color: #ddddd2;
        .active-categories-warp{
          border-right-width: 1rpx;
          border-right-style: solid;
          border-right-color: rgba(13, 13, 13, 0.7);
        }
        .categories-name-warp{
          font-size: 28rpx;
          padding-top: 20rpx;
          padding-left: 10rpx;
          padding-right: 10rpx;
          padding-bottom: 20rpx;
         
          .catefories-name{
            color:#979797
          }
          .active-name{
            color:rgba(13, 13, 13, 0.7)
          }
        }
        .lable{
          font-size: 24rpx;
          padding-left: 5rpx;
          padding-right: 5rpx;
          color: white;
        }
      }
    }
 
  }
}

.banner-icon{
  width: 35rpx;
  height: 35rpx;
}
scroll-view ::-webkit-scrollbar {
  display:none;
  width:0;
  height:0;
  color:transparent;
}
.pl-25{
  padding-left: 25rpx;
}