/**app.wxss**/
@import "./styles/flex.less";
@import "./styles/color.less";
@import "./styles/margin.less";
@import "./styles/padding.less";
@import "./styles/position.less";
@import "./styles/width.less";
@import "./styles/fontSize.less";





.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 

